.single-parent {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50px;
    transition:0.3s;
    margin-top: 40px;
    padding: 10px;
    width: 100%;
    padding: 2em 3.5em!important;
}

.single-product-container {
    text-decoration: none;
    margin-top: .9rem;
    font-size: .9rem;
    padding: 2px 16px;
    justify-content: flex-start;
    align-items: center;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    align-items:center;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
    background: #EBD5B3;
    width: 40rem;
    height: 25rem;

}

.single-product-content {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50px;
    transition:0.3s;
    margin-top: .9rem;
    font-size: 1rem;
    padding: 2px 16px;
}

.single-product-content h1 {

}
.single-product-price {
    font-size: 2rem;
    color: green;
}

.session-row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 10px;
    text-align: center;
    padding: 5px;
  }

  .session-row-list {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    list-style-type: none;
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
  }

  .session-row-item {
      gap: 7px;
  }

  .single-product-desc {
      font-weight: bold;
  }

  .single-product-quan {
      font-weight: bold;
  }
