


    .nav-container{
        background-color: #53419C;
        /* height: 10%; */
        border-radius: 20px;

    }

    .SplashBox1 {
        height: 14rem;
        width: 20vw;
        border-radius: 20px;
        background-color: #5BA67B;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 3.4rem;
    padding: 0 1em;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.image{
    width: 70%;
    margin-bottom: 200px;
    margin-left: 50px;
    background-color: burlywood;
    border-radius: 50%;
}
.SplashBox2{
    background-image: url(https://4.bp.blogspot.com/-_H8s0yEZswc/WEhpiiM-nXI/AAAAAAAAA48/ds4OmE7TwBApFg58GFLs1JfUXUgVlHjNwCEw/s1600/08-calypso-shop-item-game-sorceror-shop.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    position: absolute;
    bottom: 9.3rem;
    left: 25%;
    bottom: 8rem;

}
.welcome{
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

.quote{
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
}

.quote2{
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    text-decoration: lightpink;
}

{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  /* .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  /* .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  } */ 