.get-reviews-parent {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    transition:0.3s;
    background: #EBD5B3;
    width: 22rem;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
    margin-top: 4rem;
    overflow: scroll;
    height: 25rem;
}

.review {
    margin: .7rem;
    width: 100%;
    border-bottom: 1px solid silver;
}

.button-row-review {
    justify-content: center;
    gap: 8px;
    margin-top: 2px;
}

.review_text {
    font-size: 16px;
    text-overflow: wrap;
    font-weight: 500;
}
