.get-products-parent {
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    transition:0.3s;
    width: 20rem;
    height: 20rem;
    margin-top: 10rem;
    padding-top: 10px;
}

.product-container {

    margin-top: .9rem;
    font-size: .9rem;
    padding: 2px 16px;
    justify-content: flex-start;
    align-items: flex-start;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    align-content: flex-start;
    justify-content:center;
    align-items:flex-start;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
    background: #EBD5B3;
    width: 20rem;
    height: 20rem;
    max-width: 500px;
    margin: auto;
}

.get-products-parent ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;

}
.get-products-parent li {
    text-decoration: none;
    list-style-type: none;
}

.text-deco {
    text-decoration: none;
    color: black;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    text-align: left;
    font-size:1.2rem;
    margin: 0 auto;
}

.product-name {
    height: 90%;
    width: 50;
    border-bottom: black solid 2px;

}

.product-list {
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

.product-price {
    font-size: 2rem;
    color: green;
    text-align: center;
}

.product-desc {
    margin-top: 1.6rem;
    font-size: 0.9em;
    text-align: center;
}

.product-quantity {
    margin-top: 1rem;
    padding-top: 10%;
    text-align: center;
}

.gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
   cell number 
   .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  } 
