.get-products-parent {
    text-decoration: none;
}

.get-products-parent ul {
    text-decoration: none;
}
.get-products-parent li {
    text-decoration: none;
}

.text-deco {
    text-decoration: none;
    color: black;
}
